POSTGRES_DB=prymeira_talk
POSTGRES_USER=postgres
PRYMEIRA_TALK_POSTGRES_PASSWORD=troque_esta_senha

CLERK_SECRET_KEY=sk_live_replace_me
VITE_CLERK_PUBLISHABLE_KEY=pk_live_replace_me

EVOLUTION_API_KEY=replace_me
EVOLUTION_WEBHOOK_SECRET=replace_me

GHCR_OWNER=yohannreimer
IMAGE_TAG=latest

PUBLIC_TALK_URL=https://talk.prymeiradigital.com.br
PRYMEIRA_ACCOUNT_API_URL=https://hub.prymeiradigital.com.br/api
RATE_LIMIT_MAX=300
RATE_LIMIT_TIME_WINDOW=1 minute
EVOLUTION_API_BASE_URL=https://wsapi.yrdnegocios.com.br
VINCULA_CRM_API_URL=https://vincula.prymeiradigital.com.br/api
